body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("waves.png");
    border-right: 48px dotted white;
    border-left: 48px dotted white;
    height:100vh;
}

hr{
    color: white;
}

title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.content {
    margin: auto;
    width: 90%;
    max-width: 800px;
    display: none;
    background: #fbd4d4;
    color:white;
}

.header {
    text-align: center;
}

a {
    color: white;
}

.header h1 {
    margin-bottom: 0px;
}

.navbar {
    overflow: hidden;
    margin: auto;
    display: table;
    background-color: #ffbd5f;
}

.navbar li{
    float: left;
    display: block;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}