body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("waves.png");
    border-right: 18px dotted white;
    border-left: 18px dotted white;
    color:white;
    height:100vh;
}

title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:white;
}
.content {
    margin: auto;
    width: 90%;
    max-width: 800px;
    display: none;
    background: pink;
    color:white;
}

.header {
    text-align: center;
    color:white;
}

.header h1 {
    margin-bottom: 0px;
    color:white;
}

.navbar {
    overflow: hidden;
    margin: auto;
    display: table;
    color:white;
}

.navbar li{
    float: left;
    display: block;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    color:white;
}